*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    z-index: 10;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: .5s ease-in;
    z-index: -1;
}

header.sticky::before{
    background: var(--background-navbar);
    height: 100%;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in;
}

header nav .navlinks{
    display: flex;
    gap: 30px;
}

header nav .navlinks a{
    position: relative;
    color: var(--cor-primaria);
    font-family: var(--font-secondaria);
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav .navlinks a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--cor-primaria);
    z-index: 100;
    transition: .5s;
}

header nav .navlinks a:is(.active, :hover)::before{
    width: 100%;
}

nav input[type="radio"]{
    display: none;
}

.btn{
    color: #fff;
    cursor: pointer;
    display: none;
}

.btn.menu-btn{
    width: 30px;
    height: 30px;
}

.btn.close-btn{
    width: 30px;
    height: 30px;
}

.container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 11% 0;
    min-height: var(--min-height);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3321%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient3322%26quot%3b)'%3e%3c/rect%3e%3cpath d='M134.766%2c297.898C188.573%2c298.23%2c223.689%2c248.238%2c250.609%2c201.648C277.552%2c155.019%2c300.014%2c101.41%2c276.214%2c53.101C250.028%2c-0.051%2c193.992%2c-35.251%2c134.766%2c-33.491C78.045%2c-31.806%2c31.934%2c10.04%2c7.165%2c61.095C-14.645%2c106.051%2c-2.327%2c156.245%2c21.376%2c200.232C46.738%2c247.3%2c81.301%2c297.568%2c134.766%2c297.898' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M74.68%2c168.461C106.799%2c167.186%2c131.896%2c144.813%2c148.819%2c117.484C166.945%2c88.213%2c181.697%2c52.643%2c165.067%2c22.496C148.052%2c-8.35%2c109.831%2c-19.24%2c74.68%2c-16.916C43.459%2c-14.851%2c19.061%2c6.446%2c2.871%2c33.221C-14.053%2c61.211%2c-25.746%2c94.917%2c-10.407%2c123.806C5.693%2c154.128%2c40.376%2c169.823%2c74.68%2c168.461' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M43.58%2c112.853C69.187%2c112.239%2c94.431%2c102.513%2c107.575%2c80.528C121.043%2c58%2c121.172%2c29.045%2c106.826%2c7.065C93.576%2c-13.237%2c67.819%2c-17.939%2c43.58%2c-17.523C20.253%2c-17.123%2c-2.805%2c-10.057%2c-16.013%2c9.174C-31.227%2c31.325%2c-39.356%2c60.433%2c-25.964%2c83.732C-12.541%2c107.085%2c16.652%2c113.499%2c43.58%2c112.853' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1414.685%2c210.12C1454.151%2c209.629%2c1474.122%2c166.529%2c1492.286%2c131.488C1508.478%2c100.251%2c1522.342%2c65.123%2c1505.997%2c33.966C1488.686%2c0.969%2c1451.903%2c-18.244%2c1414.685%2c-16.43C1380.128%2c-14.746%2c1354.043%2c11.739%2c1337.592%2c42.175C1322.07%2c70.892%2c1320.047%2c103.794%2c1333.666%2c133.462C1350.29%2c169.677%2c1374.84%2c210.616%2c1414.685%2c210.12' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1445.222%2c231.138C1485.615%2c228.785%2c1521.022%2c207.664%2c1542.717%2c173.511C1566.358%2c136.295%2c1580.578%2c89.969%2c1559.494%2c51.247C1537.693%2c11.209%2c1490.757%2c-7.767%2c1445.222%2c-5.54C1403.305%2c-3.489%2c1370.988%2c25.931%2c1348.802%2c61.554C1324.874%2c99.974%2c1303.471%2c146.799%2c1325.842%2c186.146C1348.37%2c225.768%2c1399.72%2c233.789%2c1445.222%2c231.138' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1376.104%2c118.633C1402.909%2c118.084%2c1431.372%2c110.968%2c1444.405%2c87.538C1457.18%2c64.573%2c1448.097%2c36.85%2c1433.897%2c14.738C1420.996%2c-5.352%2c1399.973%2c-18.232%2c1376.104%2c-18.823C1351.104%2c-19.442%2c1327.069%2c-9.017%2c1313.134%2c11.748C1297.334%2c35.293%2c1288.388%2c66.008%2c1302.781%2c90.438C1317.027%2c114.619%2c1348.044%2c119.208%2c1376.104%2c118.633' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M122.219%2c728.968C177.308%2c729.148%2c224.153%2c692.681%2c251.426%2c644.817C278.403%2c597.471%2c284.445%2c539.478%2c257.016%2c492.393C229.753%2c445.593%2c176.263%2c419.449%2c122.219%2c423.02C73.393%2c426.246%2c39.6%2c466.016%2c15.107%2c508.377C-9.422%2c550.8%2c-26.943%2c599.897%2c-5.538%2c643.979C18.407%2c693.293%2c67.399%2c728.789%2c122.219%2c728.968' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M105.524%2c661.935C143.425%2c658.544%2c174.742%2c637.318%2c196.021%2c605.772C220.971%2c568.784%2c245.448%2c524.179%2c225.298%2c484.372C203.869%2c442.039%2c152.887%2c424.158%2c105.524%2c426.992C62.707%2c429.554%2c30.972%2c460.982%2c8.242%2c497.358C-16.423%2c536.83%2c-41.847%2c584.866%2c-18.163%2c624.934C5.307%2c664.64%2c59.583%2c666.045%2c105.524%2c661.935' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M69.204%2c608.827C100.03%2c607.993%2c122.681%2c583.685%2c138.298%2c557.095C154.178%2c530.057%2c164.079%2c498.519%2c150.623%2c470.197C135.249%2c437.838%2c105.028%2c411.34%2c69.204%2c411.665C33.795%2c411.986%2c6.343%2c440.081%2c-9.697%2c471.65C-24.168%2c500.131%2c-22.61%2c533.325%2c-6.682%2c561.017C9.294%2c588.793%2c37.173%2c609.693%2c69.204%2c608.827' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1345.718%2c520.596C1363.544%2c520.596%2c1375.165%2c503.218%2c1382.641%2c487.035C1388.836%2c473.626%2c1386.968%2c458.933%2c1380.291%2c445.757C1372.729%2c430.834%2c1362.448%2c414.145%2c1345.718%2c414.172C1329.012%2c414.199%2c1318.891%2c430.968%2c1311.339%2c445.87C1304.678%2c459.015%2c1302.633%2c473.65%2c1308.792%2c487.037C1316.242%2c503.231%2c1327.892%2c520.596%2c1345.718%2c520.596' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1440.54%2c706.976C1491.435%2c710.013%2c1537.432%2c675.277%2c1560.631%2c629.875C1581.984%2c588.085%2c1572.508%2c538.443%2c1546.676%2c499.263C1523.474%2c464.072%2c1482.647%2c449.685%2c1440.54%2c447.73C1393.713%2c445.556%2c1339.266%2c447.94%2c1315.84%2c488.544C1292.421%2c529.136%2c1319.716%2c576.186%2c1342.95%2c616.884C1366.476%2c658.093%2c1393.173%2c704.149%2c1440.54%2c706.976' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1381.544%2c586.67C1412.077%2c586.654%2c1441.086%2c571.171%2c1455.845%2c544.442C1470.163%2c518.513%2c1465.471%2c487.29%2c1450.549%2c461.703C1435.754%2c436.335%2c1410.904%2c416.4%2c1381.544%2c417.04C1353.068%2c417.661%2c1331.92%2c440.005%2c1317.558%2c464.602C1303.038%2c489.468%2c1293.739%2c519.016%2c1307.107%2c544.52C1321.295%2c571.588%2c1350.983%2c586.686%2c1381.544%2c586.67' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3321'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3322'%3e%3cstop stop-color='rgba(77%2c 128%2c 229%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(33%2c 12%2c 174%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    max-width: 65em;
    margin: auto;
    line-height: 1.7;
}

.container .socials{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-right: 15px;
    transform: translate(50px);
    font-family: sans-serif;
}

.main-content{
    position: relative;
    display: inline-block;
    flex: 1;
    max-width: 470px;
    font-family: var(--font-secondaria);
}

.main-content h2{
    color: var(--cor-primaria);
    font-size: 2.45em;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.main-content .subtitle{
    color: var(--cor-primaria);
    font-size: 1.05em;
    position: relative;
    bottom: 8px;
}

.main-content p{
    color: var(--cor-primaria);
    font-weight: 400;
}

.imageBox img{
    max-width: 100%;
    width: 320px;
    height: auto;
    display: block;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    pointer-events: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11%;
    min-height: var(--min-height);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1740' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3321%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient3322%26quot%3b)'%3e%3c/rect%3e%3cpath d='M134.766%2c297.898C188.573%2c298.23%2c223.689%2c248.238%2c250.609%2c201.648C277.552%2c155.019%2c300.014%2c101.41%2c276.214%2c53.101C250.028%2c-0.051%2c193.992%2c-35.251%2c134.766%2c-33.491C78.045%2c-31.806%2c31.934%2c10.04%2c7.165%2c61.095C-14.645%2c106.051%2c-2.327%2c156.245%2c21.376%2c200.232C46.738%2c247.3%2c81.301%2c297.568%2c134.766%2c297.898' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M74.68%2c168.461C106.799%2c167.186%2c131.896%2c144.813%2c148.819%2c117.484C166.945%2c88.213%2c181.697%2c52.643%2c165.067%2c22.496C148.052%2c-8.35%2c109.831%2c-19.24%2c74.68%2c-16.916C43.459%2c-14.851%2c19.061%2c6.446%2c2.871%2c33.221C-14.053%2c61.211%2c-25.746%2c94.917%2c-10.407%2c123.806C5.693%2c154.128%2c40.376%2c169.823%2c74.68%2c168.461' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M43.58%2c112.853C69.187%2c112.239%2c94.431%2c102.513%2c107.575%2c80.528C121.043%2c58%2c121.172%2c29.045%2c106.826%2c7.065C93.576%2c-13.237%2c67.819%2c-17.939%2c43.58%2c-17.523C20.253%2c-17.123%2c-2.805%2c-10.057%2c-16.013%2c9.174C-31.227%2c31.325%2c-39.356%2c60.433%2c-25.964%2c83.732C-12.541%2c107.085%2c16.652%2c113.499%2c43.58%2c112.853' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1414.685%2c210.12C1454.151%2c209.629%2c1474.122%2c166.529%2c1492.286%2c131.488C1508.478%2c100.251%2c1522.342%2c65.123%2c1505.997%2c33.966C1488.686%2c0.969%2c1451.903%2c-18.244%2c1414.685%2c-16.43C1380.128%2c-14.746%2c1354.043%2c11.739%2c1337.592%2c42.175C1322.07%2c70.892%2c1320.047%2c103.794%2c1333.666%2c133.462C1350.29%2c169.677%2c1374.84%2c210.616%2c1414.685%2c210.12' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1445.222%2c231.138C1485.615%2c228.785%2c1521.022%2c207.664%2c1542.717%2c173.511C1566.358%2c136.295%2c1580.578%2c89.969%2c1559.494%2c51.247C1537.693%2c11.209%2c1490.757%2c-7.767%2c1445.222%2c-5.54C1403.305%2c-3.489%2c1370.988%2c25.931%2c1348.802%2c61.554C1324.874%2c99.974%2c1303.471%2c146.799%2c1325.842%2c186.146C1348.37%2c225.768%2c1399.72%2c233.789%2c1445.222%2c231.138' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1376.104%2c118.633C1402.909%2c118.084%2c1431.372%2c110.968%2c1444.405%2c87.538C1457.18%2c64.573%2c1448.097%2c36.85%2c1433.897%2c14.738C1420.996%2c-5.352%2c1399.973%2c-18.232%2c1376.104%2c-18.823C1351.104%2c-19.442%2c1327.069%2c-9.017%2c1313.134%2c11.748C1297.334%2c35.293%2c1288.388%2c66.008%2c1302.781%2c90.438C1317.027%2c114.619%2c1348.044%2c119.208%2c1376.104%2c118.633' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M122.219%2c728.968C177.308%2c729.148%2c224.153%2c692.681%2c251.426%2c644.817C278.403%2c597.471%2c284.445%2c539.478%2c257.016%2c492.393C229.753%2c445.593%2c176.263%2c419.449%2c122.219%2c423.02C73.393%2c426.246%2c39.6%2c466.016%2c15.107%2c508.377C-9.422%2c550.8%2c-26.943%2c599.897%2c-5.538%2c643.979C18.407%2c693.293%2c67.399%2c728.789%2c122.219%2c728.968' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M105.524%2c661.935C143.425%2c658.544%2c174.742%2c637.318%2c196.021%2c605.772C220.971%2c568.784%2c245.448%2c524.179%2c225.298%2c484.372C203.869%2c442.039%2c152.887%2c424.158%2c105.524%2c426.992C62.707%2c429.554%2c30.972%2c460.982%2c8.242%2c497.358C-16.423%2c536.83%2c-41.847%2c584.866%2c-18.163%2c624.934C5.307%2c664.64%2c59.583%2c666.045%2c105.524%2c661.935' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M69.204%2c608.827C100.03%2c607.993%2c122.681%2c583.685%2c138.298%2c557.095C154.178%2c530.057%2c164.079%2c498.519%2c150.623%2c470.197C135.249%2c437.838%2c105.028%2c411.34%2c69.204%2c411.665C33.795%2c411.986%2c6.343%2c440.081%2c-9.697%2c471.65C-24.168%2c500.131%2c-22.61%2c533.325%2c-6.682%2c561.017C9.294%2c588.793%2c37.173%2c609.693%2c69.204%2c608.827' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1345.718%2c520.596C1363.544%2c520.596%2c1375.165%2c503.218%2c1382.641%2c487.035C1388.836%2c473.626%2c1386.968%2c458.933%2c1380.291%2c445.757C1372.729%2c430.834%2c1362.448%2c414.145%2c1345.718%2c414.172C1329.012%2c414.199%2c1318.891%2c430.968%2c1311.339%2c445.87C1304.678%2c459.015%2c1302.633%2c473.65%2c1308.792%2c487.037C1316.242%2c503.231%2c1327.892%2c520.596%2c1345.718%2c520.596' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1440.54%2c706.976C1491.435%2c710.013%2c1537.432%2c675.277%2c1560.631%2c629.875C1581.984%2c588.085%2c1572.508%2c538.443%2c1546.676%2c499.263C1523.474%2c464.072%2c1482.647%2c449.685%2c1440.54%2c447.73C1393.713%2c445.556%2c1339.266%2c447.94%2c1315.84%2c488.544C1292.421%2c529.136%2c1319.716%2c576.186%2c1342.95%2c616.884C1366.476%2c658.093%2c1393.173%2c704.149%2c1440.54%2c706.976' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1381.544%2c586.67C1412.077%2c586.654%2c1441.086%2c571.171%2c1455.845%2c544.442C1470.163%2c518.513%2c1465.471%2c487.29%2c1450.549%2c461.703C1435.754%2c436.335%2c1410.904%2c416.4%2c1381.544%2c417.04C1353.068%2c417.661%2c1331.92%2c440.005%2c1317.558%2c464.602C1303.038%2c489.468%2c1293.739%2c519.016%2c1307.107%2c544.52C1321.295%2c571.588%2c1350.983%2c586.686%2c1381.544%2c586.67' fill='rgba(255%2c 255%2c 255%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3321'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3322'%3e%3cstop stop-color='rgba(2%2c 3%2c 68%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(40%2c 114%2c 213%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") no-repeat;
    background-size: cover;
    background-position: right;
}

.about-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 75em;
    width: 100%;
    margin: auto;
}

.about-content{
    max-width: 450px;
    margin: 1em;
    line-height: 1.25;
    font-family: var(--font-primaria);
}

.about-content h2{
    margin-bottom: 20px;
    font-size: 2.8em;
    color: var(--cor-primaria);
}

.about-content p{
    margin: 0 0 15px;
    color: #a8a8a8;
}

.about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img{
    max-width: 100%;
    width: 320px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    pointer-events: none;
}

.skills{
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: var(--min-height);
}

.skills .skills__title{
    color: var(--cor-primaria);
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

.skills .skills__title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    transform: translate(70px, 15px);
    background: #FF204E;
    border-radius: 10px;
}

.skills .skills__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

.skills__column__one, .skills__column__two{
    text-align: center;
    font-family: var(--font-secondaria);
}

.skills__column__one__title{
    color: var(--cor-primaria);
    font-size: 24px;
    margin: 20px;
    font-weight: 400;
}

.skills__column__one__language{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skills__column__one__language img{
    width: 20px;
    height: 20px;
}

.skills__column__one__language h3{
    text-transform: uppercase;
    color: var(--cor-primaria);
    border: 2px solid #A0153E;
    padding: 2% 5%;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.skills__column__two__title{
    color: var(--cor-primaria);
    padding: 0 0 20%;
    font-weight: 400;
}

.skills__column__two__course{
    display: flex;
    gap: 12px;
}

.skills__column__two__course img{
    max-width: 100%;
    width: 25px;
    height: auto;
}

.skills__column__two__course h3{
    color: var(--cor-primaria);
    text-transform: capitalize;
    font-weight: 400;
}

.container__projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6em 0 1em;
    min-height: var(--min-height);
    background: #080708;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(0%2c 34%2c 77%2c 0.300)'%3e%3c/rect%3e%3cpath d='M18 250L268 0L511 0L261 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1057%26quot%3b)'%3e%3c/path%3e%3cpath d='M246.60000000000002 250L496.6 0L744.1 0L494.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1057%26quot%3b)'%3e%3c/path%3e%3cpath d='M490.20000000000005 250L740.2 0L813.7 0L563.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1057%26quot%3b)'%3e%3c/path%3e%3cpath d='M727.8000000000001 250L977.8000000000001 0L1151.8000000000002 0L901.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1057%26quot%3b)'%3e%3c/path%3e%3cpath d='M1409 250L1159 0L1118.5 0L1368.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1058%26quot%3b)'%3e%3c/path%3e%3cpath d='M1178.4 250L928.4000000000001 0L670.4000000000001 0L920.4000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1058%26quot%3b)'%3e%3c/path%3e%3cpath d='M927.8 250L677.8 0L440.79999999999995 0L690.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1058%26quot%3b)'%3e%3c/path%3e%3cpath d='M720.1999999999999 250L470.19999999999993 0L170.19999999999993 0L420.19999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1058%26quot%3b)'%3e%3c/path%3e%3cpath d='M1260.9022045090974 250L1440 70.9022045090974L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1057%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L179.0977954909026 250L 0 70.9022045090974z' fill='url(%26quot%3b%23SvgjsLinearGradient1058%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1057'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.0)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.0)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1058'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.30)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.30)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.container__projects .heading h2{
    position: relative;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2.15em;
    text-align: center;
}

.heading h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    transform: translate(60px, 15px);
    background: #FF204E;
    border-radius: 10px;
}

.projects{
    width: 100%;
    height: 100%;
    padding: 3.965em;
}

.projects .project__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 1200px;
    margin: auto;
}

.project__container .project__item{
    max-width: 340px;
    text-align: center;
    padding: 1em;
    z-index: 1;
}

.imageBox__project{
    position: relative;
    width: 100%;
    height: 100%;
}

.project__item img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom;
    object-position: bottom;
    border-radius: 6px;
    pointer-events: none;
    margin-bottom: 20px;
    aspect-ratio: 16/9;
}

.imageBox__project::after{
    content: "";
    position: absolute;
    width: 100%;
    min-height: 90%;
    left: 0;
    transform: translate(7px, 2px);
    border: 1px solid #BBE1FA;
    z-index: -1;
    border-radius: 2px;
}

.project__content{
    line-height: 1.5;
    font-family: var(--font-secondaria);
}

.project__content .title{
    color: #DDDDDD;
    font-size: 1.20em;
    margin-bottom: 20px;
    font-weight: 400;
}

.project__content .view__project{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #285c83; */
    border: 2px solid #FF204E;
    color: var(--cor-primaria);
    width: 60%;
    margin: auto;
    padding: .55em 1.5em;
    border-radius: 5px;
    transition: .5s ease-in-out;
}

.project__content .view__project:hover{
    background: #FF204E;
}

footer{
    padding: 17px;
    background: #202020;
}

footer p{
    color: var(--cor-primaria);
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    font-family: var(--font-primaria);
}

footer .footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primaria);
}

.footer__content .socials{
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer__content .socials h3{
    color: var(--cor-primaria);
    font-weight: 500;
}

.footer__content .socials a{
    display: flex;
}

.footer__content h2{
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 1.45em;
}

.footer__content h4{
    color: var(--cor-primaria);
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}