/* == HEADER E MENU == */

@media screen and (max-width: 600px) {
  header {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 680px) {
  .burger, .close-menu{
    display: block;
  }

  .burger.active{
    opacity: 0;
  }
  
  .close-menu{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .close-menu svg{
    transition: 300ms;
  }

  .close-menu svg:hover{
    color: #909090;
  }

  .menu {
    display: block;
    position: fixed;
    top: 0;
    right: -500px;
    width: 100%;
    min-height: 100vh;
    max-width: 280px;
    background: var(--background-navbar);
    padding: 50px 10px;
    overflow: hidden;
    transition: 500ms ease-in-out;
  }

  .menu.active{
    right: 0;
  }

  header nav .navlinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 20% 0;
    text-align: left;
  }

  header nav .navlinks a {
    position: relative;
    display: flex;
    gap: 0.5em;
    top: 20px;
    font-size: 18px;
    width: max-content;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000016e1;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: 300ms;
  }

  .overlay.active{
    visibility: visible;
    opacity: 1;
  }
}

/* == //HEADER E MENU == */


/* == PRINCIPAL == */
@media screen and (max-width: 1090px) {
  .container .main {
    padding: 20px;
  }
}

@media screen and (max-width: 880px) {
  .container .main {
    padding: 6rem 1rem 0;
    flex-direction: column;
    gap: 2rem;
  }

  .main-content {
    max-width: 100%;
  }

  .imageBox img {
    width: 320px;
  }
}

@media screen and (max-width: 600px) {
  .container .main .socials {
    flex-direction: row;
    justify-content: center;
  }

  .main-content {
    text-align: center;
  }

  .main-content h2 {
    justify-content: center;
  }

  .imageBox img {
    width: 240px;
  }
}

@media screen and (max-width: 410px) {
  .main-content h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 345px){
  .main-content span{
    white-space: pre-wrap;
  }
}

/* == //PRINCIPAL == */


/* == SOBRE MIM == */

@media screen and (max-width: 1170px) {
  .about-container {
    padding: 8% 0;
    gap: 1em;
  }
}

@media screen and (max-width: 900px) {
  .about-container {
    flex-direction: column;
    max-width: 100%;
  }

  .about-content {
    text-align: center;
    margin: 0;
  }

  .about-content h2 {
    font-size: 2.45em;
  }

  .about-image {
    order: 1;
  }

  .about-image img {
    max-width: 100%;
    width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .about-image img {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .about-container {
    padding: 15% 0;
  }
}

/* == //SOBRE MIM == */


/* == HABILIDADES == */

@media screen and (max-width: 830px){
  .skills .skills__container{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px){
  .skill__wrapper .skill__inner{
    flex-wrap: wrap;
  }
}

/* == //HABILIDADES == */

/* == //PROJETOS == */

@media screen and (max-width: 992px){
  .project__card__content .view__project{
    width: 60%;
  }
}

@media screen and (max-width: 600px){
  .project__card__content .view__project{
    width: 80%;
  }
}

/* == //PROJETOS == */

@media screen and (max-width: 860px) {
  footer .footer__content {
    flex-direction: column;
    gap: 0.8em;
  }
}

@media screen and (max-width: 375px) {
  .footer__content .socials {
    flex-direction: column;
  }
}
