@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primary: #ececec;
    --color-secondary: #000;

    --font-primaria: "Montserrat", sans-serif;
    --font-secondaria: "Poppins", sans-serif;
    --font-noto-sans: "Noto Sans", sans-serif;
    --font-play: "Play", sans-serif;
    --font-inter: "Inter", sans-serif;
    --min-height: 100dvh;

    --background-navbar: #0E0220;
    --color-name-title: #11d75d;

    --background-main: #071952;
    --background-about: #088395;
    --background-skills: #005A8D;
    --background-projects: #F5F5F5;

    /* == Skills Cards & Projects Cards == */
    --background-skill-course: #28718e;

    --bg-tags-filter-cards-projects: #1E212D;
    --color-title-cards: #050101;
    --bg-button-view-project: #0a619f;
    --bg-button-view-project-hover: #06365b;

    --background-footer: #022E57;

    --color-topo: #fff;
    --background-topo: #fff;
    --color-icon-topo: #0000;
}