@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --color-primary: #f3f3f3;
    --color-secondary: #000;

    --font-primaria: "Montserrat", sans-serif;
    --font-secondaria: "Poppins", sans-serif;
    --font-noto-sans: "Noto Sans", sans-serif;
    --font-play: "Play", sans-serif;
    --min-height: 100dvh;

    --background-navbar: #020202;
    --color-name-title: #11d75d;

    --background-main-about: url(/assets/images/backgrounds/bg-main.svg) no-repeat center/cover;
    --background-skills: url(/assets/images/backgrounds/bg-skills.svg) no-repeat center/cover;
    --background-projects: url(/assets/images/backgrounds/bg-projects.svg) no-repeat center/cover;

    /* == Skills Cards & Projects Cards == */
    --color--title: #0688c0;
    --color--border-text-language: #015668;
    --color--border-button-project: #0066ff;
    --color--border-button-project-hover: #0a4a71;
}